  .App {
      text-align: center;
    }
    
    .PopupWindowControl-logo {
      height: 40vmin;
      pointer-events: none;
    }
    
    @media (prefers-reduced-motion: no-preference) {
      .PopupWindowControl-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    }
    
    .PopupWindowControl-header {
      background-color: #282c34;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
    }
    
    .PopupWindowControl-link {
      color: #61dafb;
    }
    
    @keyframes PopupWindowControl-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }